.appContainer {
  border: 2px solid goldenrod;
  min-height: 10vh;
  width: 100%;
  display: grid;
  margin-bottom: 50px;
  place-items: center;
  color: goldenrod;
  .useImperativeHandle {
    h1 {
      text-align: center;
      margin-bottom: 20px;
    }
    p {
      text-align: center;
      margin-top: 20px;
    }
    margin-top: 10px;
    margin-bottom: 20px;
    button {
      display: block;
      &:nth-child(3) {
        margin-top: 20px;
        // border: 3px solid red;
      }
    }
    input {
      width: 200px;
      height: 30px;
      padding: 8px 10px;
      outline: none;
    }
  }
}
